
body{
  font-family: 'Roboto', sans-serif; 
}

h1{
  margin:0;
}

.container{
  background-color: #121212;
  width: 700px;
  color: #FFFFFF;

  margin: 80px;

  /* padding: espaçamento interno */
  padding-top: 30px;

  border: 5px solid red;
  border-radius: 10px;
}